<h2><%= @cocktail.name %> <%= link_to "(edit)", edit_cocktail_path(@cocktail) %> </h2>
<h2><%= "💥" * @score %></h2>
<hr>

<div class="ingredient-container">
  <div id="ingredient-list">
    <h4>Instructions</h4>
    <p><%= @cocktail.instructions %></p>
    <hr>
    <h4>Ingredients</h4>
    <% @doses.each do |dose| %>
      <ul>
        <li><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "(delete)", cocktail_dose_path(@cocktail, dose), method: :delete %></li>
      </ul>
    <% end  %>
  </div>
  <div id="ingredient-add">
    <h5>Add Ingredient</h5>
    <%= render "doses/form", cocktail: @cocktail, dose: @dose %>
  </div>
</div>
<h4>Reviews</h4>
<% @reviews.each do |review| %>
  <ul>
    <li><%= review.rating %> <%= review.description %> </li>
  </ul>
<% end %>


<h5>Add Review</</h5>

<%= render "reviews/form", cocktail: @cocktail, review: Review.new %>

<hr>
<%= link_to "Back", cocktails_path  %>
