<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo.key %>');">
  <h1><%= @cocktail.name %> <%= link_to "(edit)", edit_cocktail_path(@cocktail) %> </h1>
</div>

<div class="container">
  <p id="stars"> <% @cocktail.avg_score.times do  %><i class="far fa-star" id="irating"></i> <% end %> </p>
  <div class="ingredient-container">
    <div id="ingredient-list">
      <h4>Ingredients</h4>
      <% @doses.each do |dose| %>
        <ul>
          <li><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "(delete)", cocktail_dose_path(@cocktail, dose), method: :delete %></li>
        </ul>
      <% end  %>

      <p></p>
      <div id="instructions">
        <h4>Instructions</h4>
        <p><%= @cocktail.instructions %></p>
      </div>
    </div>

    <div id="ingredient-add">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')"></div>
      <h5>Add Ingredient</h5>
      <%= render "doses/form", cocktail: @cocktail, dose: @dose %>
    </div>
  </div>

  <hr>

  <div class="review-container">
    <div id="review-list">
      <h4>Reviews</h4>
        <% @reviews.each do |review| %>
        <ul>
          <li><p id="stars"> <% review.rating.times do  %><i class="far fa-star" id="irating_small"></i> <% end %> </p></li>
          <li id="review-desc">"<%= review.description %>"</li>
          <p></p>
        </ul>
        <% end %>
    </div>

    <div id="review-add">
      <h5>Add Review</h5>
        <%= render "reviews/form", cocktail: @cocktail, review: @review %>
    </div>
  </div>

  <hr>
  <%= link_to "Back", cocktails_path  %>
</div>

