<!DOCTYPE html>
<html>
  <head>
    <title>Space99</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="fixed-top navbar-dark navbar-lewagon">
      <%= link_to cocktails_path do %><span class="navbar-brand mb-0 h1">Cocktail Space99</span><% end %>
      <div>
        <%= link_to "Home", cocktails_path,:class => "btn btn-outline-light" %>
        <%= link_to "New cocktail", new_cocktail_path, :class => "btn btn-outline-light" %>
      </div>
   </nav>
      <%= yield %>
  <div class="footer">
  <div class="footer-copyright">
    <i class="fas fa-copyright"></i> 2999 Actually I Prefer Hot Chocolate Productions
  </div>
  <div class="footer-copyright">
    Vacancies: Only astronauts or home-alone coders need apply <i class="fab fa-github"></i>
  </div>
</div>
  </body>
</html>
